<h1>Battle#show</h1>
<p>Battle id: <%= @battle.id %></p>

<div class="users">
  <b>Battles tracks:</b>
	<% @battle_tracks %>
  <ul>
    <% @battle_tracks.each do |battle_track| %>
			<%= battle_track.title %>
		  <a href="<%= battle_track.permalink_url %>" class="sc-player"><%= battle_track.title %></a>
    <% end %>
  </ul>
</div>

<div class=" <%= "hidden" if @hide_join_button %>"">
<%= link_to "Join this battle", "/track/new/#{@battle.id}"%>
</div>