<h1>Battle#show</h1>
<p>Battle id: <%= @battle.id %></p>

<div id="battle-tracks">
</div>

<% if logged_in? && !current_sc_user.is_contestant?(@battle.id)  %>
	<%= link_to "Join this battle", "/track/new/#{@battle.id}"%>
<% end %>

<script type="text/javascript">

	<% @battle.tracks.each do |track| %>

		var battle_id = '<%=@battle.id%>'
		var track_id = '<%=track.id%>'
		var title = '<%=track.title%>'
		var permalink_url = '<%=track.permalink_url%>'
		var votes = '<%=track.votes.size.to_s%>'
		var votedFor = '<%= !!logged_in? && current_sc_user.voted_for?(track.id) %>'
		var newtrack = new Track(battle_id, track_id, title, permalink_url, votes, votedFor, $("#battle-tracks"));
		console.log("newtrack ", newtrack);
		console.log("newtrack ", newtrack.votes);
	<% end %>

</script>